[Unit]
Description=TemperatureService
After=network.target

[Service]
WorkingDirectory=/home/pi/dev/raspi-temp-server
ExecStart=/home/pi/.nvm/versions/node/v16.15.1/bin/npm start
Restart=on-failure
User=pi
Environment=PORT=3000

[Install]
WantedBy=multi-user.target